<p-dialog
  header="ثبت مشتری جدید"
  [modal]="true"
  [visible]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: 'min(760px, calc(100vw - 32px))' }"
  styleClass="adz-prime-dialog"
  (onHide)="closeRequested.emit()"
>
  <div class="create-grid" dir="rtl">
    <label>
      عنوان
      <input pInputText name="newTitle" [(ngModel)]="customer.title" />
    </label>
    <label>
      کد
      <input pInputText name="newCode" [(ngModel)]="customer.code" />
    </label>
    <label>
      شناسه ملی
      <input pInputText name="newNational" [(ngModel)]="customer.national_id" />
    </label>
    <label>
      کد اقتصادی
      <input
        pInputText
        name="newEconomic"
        [(ngModel)]="customer.economic_code"
      />
    </label>
    <label>
      کد پستی
      <input pInputText name="newPostal" [(ngModel)]="customer.postal_code" />
    </label>
    <label>
      تلفن
      <input pInputText name="newPhone" [(ngModel)]="customer.phone" />
    </label>
    <label class="full">
      آدرس
      <textarea
        pTextarea
        name="newAddress"
        rows="3"
        [(ngModel)]="customer.address"
      ></textarea>
    </label>
  </div>

  <ng-template pTemplate="footer">
    <div class="modal-actions" dir="rtl">
      <p-button
        type="button"
        label="انصراف"
        severity="secondary"
        [outlined]="true"
        icon="pi pi-times"
        (onClick)="closeRequested.emit()"
      ></p-button>
      <p-button
        type="button"
        label="ذخیره و انتخاب مشتری"
        icon="pi pi-save"
        (onClick)="saveRequested.emit()"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
